.message{
    background-image: url("https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;

    

}
.teacher{
    background-image: url("https://images.unsplash.com/photo-1529148482759-b35b25c5f217?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
   
    

}



.slider-container {
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

.slide {
  width: 100%;
  cursor: pointer;
  border: none; 
   outline: none;
  padding-bottom: 40px;
}


.slide {
  width: 80%;
  cursor: pointer;
  border: none; 
   outline: none;
  
  padding: 0 10px; /* Add padding to create the gap between images */
}

.slide img {
  width: 100%;
  height: 330px; /* Set the desired height for the images */
  object-fit: cover; /* Ensure the image covers the area while maintaining aspect ratio */
  border-radius: 8px; /* Optional: Add border-radius if desired */
}

/* Style for the navigation arrows */
.slick-prev, .slick-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure arrows are above other content */
  border: none;
  cursor: pointer;
  color: white; /* Color for the SVG */
}

.overlay-text {
  font-size: 18px;
  text-align: center;
  padding: 20px;
}



.head{ 
  background-color: #202C45;
}

.line{
  border-right: 2px solid white;
}

.animeBg{
  overflow: hidden;
  background-color: #f2184f;
}

.anime{
  animation: rightToLeft 15s infinite linear;
}

@keyframes rightToLeft{
  from{
    transform: translateX(100%); 
  }
  to{
    transform:  translateY(0); 
  }
}

.logo img{
  width: 100%;
  height: auto;
}

.submenu{
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
  color: rgb(16, 15, 15);
  font-weight: 500;
  background: white;
  width: 200px;
  border-top: 3px solid black;
  z-index: 10;
}

.submenu li{
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.submenu li:hover{
  border-left: 4px solid #202C45;
  transition: all 0.1s ease-out;
  transform: scaleX(1);
}

li:hover > .submenu{
  transform: none;
  visibility: visible;
  opacity: 1;
transition: all 0.2s ease-in;
}

.sub-menu-right{
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
}

.menu{
  padding: 8px 20px;
  border-radius: 30px;
}

.menu:hover{
  background-color: #202C45;
  color: white;
  transition: all 0.2s ease;
}

.accordion {
  list-style-type: none;
  background-color: #333333 !important;
}


.accordion-toggle {
  display: none;
}

.accordion-header {
  color: white;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;

}

label{
  padding: 12px 20px;
}

.accordion-content {
  display: none;
  border-top: none;
  background-color: #333333;
}

.accordion-content li {
  padding: 10px 25px 10px 40px;
  border-bottom: 1px solid lightgray;
  background-color: #333333;

}

.accordion-content a {
  color: white;
  text-decoration: none;
}

.accordion-content a:hover {
  text-decoration: underline;
}

.accordion-toggle:checked + .accordion-header + .accordion-content {
  display: block;
}

.accordion-header i {
  transition: transform 0.3s ease;
}

.accordion-toggle:checked + .accordion-header i {
  transform: rotate(180deg);
}

.accordion-item {
  margin-top: 0.5rem;
  color: black;
}

.hamburger{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #333333;
  width: 70%;
  height: 100%;
  overflow-y: auto;
  z-index: 30;

}



@media(max-width:640px){
  .anime{
    animation: rightToLeft 5s infinite linear;
  }
}

#app{
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}


.one{
  background-image: url(../assets/Designer.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.one h1,.two h1,.three h1{
  font-size: 8rem;
  font-weight: bold;
  color: white;
}

.one span{
  background-color: #202C45;
  font-size: 2rem;
  padding: 14px 19px;
  font-weight: bold;
  color: white;
  border-left:5px solid #f2184f;
}

.one button,.two button,.three button{
  background-color: #f2184f;
  padding: 11px 37px;
  color: white;
}

.one button:hover,.two button:hover,.three button:hover{
  background-color: #f35079;
}

.two{
  background-image: url(../assets/Designer2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.two span{
  background-color: #202C45;
  font-size: 2rem;
  padding: 14px 30px;
  font-weight: bold;
  color: white;
  border-radius: 3rem;
  border-right: 5px solid #f2184f;
  border-left: 5px solid #f2184f;
}

.three{
  background-image: url(../assets/Designer3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.three span{
  background-color: #202C45;
  font-size: 2rem;
  padding: 14px 19px;
  font-weight: bold;
  color: white;
  border-right:5px solid #f2184f;
}

@media(max-width:680px){
  .one h1,.two h1,.three h1{
    font-size: 4rem;
    margin-bottom: 10px;
  }
  .one span,.two span,.three span{
    font-size: 1rem;
  }
}

.swiper-button-next::after{ 
  font-size: unset !important;
  color: white;
  z-index: 999;
}
.swiper-button-prev::after{
  font-size: unset !important;
  color: white;
  z-index: 999;
} 

.swiper-button-next, .swiper-button-prev{
  background-color: rgba(0, 0, 0, 0.736);
   padding: 20px; 
  border-radius: 50%;
 
} 

.button
{
    border-width: 2px;
    letter-spacing: .05rem;
    padding: 0.8rem 2.5rem;
    overflow: hidden;
    color:white;
    background-color: #202C45;
}
.button_2
{
    border-width: 2px;
    letter-spacing: .05rem;
    padding: 0.8rem 2.5rem;
    overflow: hidden;
    color:white;
    background-color:transparent;
    
}
.button_1
{
    border-width: 2px;
    letter-spacing: .05rem;
    padding: 0.8rem 2.5rem;
    overflow: hidden;
    color:white;
    background-color:transparent;
}

.bg-position-custom {
    background-position: 50% -441px;
  }



/* mediagallery styles */
.media-gallery {
  padding: 50px;
  background-color: #f7f7f7;
}

.media-gallery h2 {
  font-size: 28px;
  color: #333;
  text-align: left;
  margin-bottom: 40px;
  font-weight: bold;
}

.underline {
  border-bottom: 3px solid #333;
  text-decoration-line:none !important;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  justify-content: center;
  align-items: start;
}

.media-card {
  background-color: #f7f7f7;
  box-shadow: none; 
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease;
  position: relative;
  height:fit-content; 
  margin: 0; 
  width: 90%;
  padding:20px;
  position: relative;
  z-index: 1;
  font-size: 14px;
  text-align: center;
}

.media-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: calc(90% + 10px);
  z-index: 10;
}

.media-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 10px;
}

.media-card h3 {
  font-size: 18px; 
  color: #333;
  padding: 10px 15px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin:0;
}

.media-card p {
  font-size: 16px;
  color: #777;
  padding: 0 15px 5px;
  margin: 0; 
}


.view-media-btn {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #f7f7f7; 
  color: #333; 
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin: 0 15%;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Optional: add transition for background color */
}

.arrow {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(255, 20, 78);
  border-radius: 50%;
  margin: 0 5px;
  height: 15px;
  width: 15px; 
  justify-content: center; 
  transition: transform 0.3s; 
}

.arrow:hover {
  transform: rotate(360deg); 
}

.media-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  margin: 10px; 
}

.media-card:hover img {
  transform: scale(1.05); 
}

.media-card img {
  transition: transform 0.3s ease;
}


/* Styles for the selected media card */
.selected-media {
  width: 100%;
  padding: 20px;
  background-color:#f7f7f7;
  margin-bottom: 80px;
}

.selected-media h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.selected-media p {
  font-size: 16px;
  margin-bottom: 10px;
}

.selected-media img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

.media-grid {
  margin-top: 20px;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color:#f7f7f7; 
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more:hover {
  background-color: #022549;
  color: white;
}

@media screen and (max-width: 768px) {
  .media-grid {
    grid-template-columns: 1fr; 
    gap: 20px; 
  }

  .media-card {
    width: 80%;
    padding: 20px 40px;
  }

  .media-card:hover {
    width: 72%;
}

  .media-card img {
    height: auto; 
  }

  .media-gallery {
    padding: 20px;
  }

  .media-gallery h2 {
    font-size: 24px; 
  }
  .selected-media {
    padding: 0;
  }
}

.photo-gallery {
  padding: 50px;
  background-color: #f7f7f7;
  }
  
  .photo-gallery h2 {
  font-size: 28px;
  color: #333;
  text-align: left;
  margin-bottom: 40px;
  font-weight: bold;
  }
  
  .underline {
  border-bottom: 3px solid #333;
  text-decoration-line:none !important;
  }
  
  .photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  justify-content: center;
  align-items: start;
  }
  
  .photo-card {
  background-color: #f7f7f7;
  box-shadow: none; 
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease;
  position: relative;
  height:fit-content; 
  margin: 0; 
  width: 90%;
  padding:20px;
  position: relative;
  z-index: 1;
  font-size: 14px;
  text-align: center;
  }
  
  .photo-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: calc(90% + 10px);
  z-index: 10;
  }
  
  .photo-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 10px;
  }
  
  .photo-card h3 {
  font-size: 18px; 
  color: #333;
  padding: 10px 15px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin:0;
  }
  
  .photo-card p {
  font-size: 16px;
  color: #777;
  padding: 0 15px 5px;
  margin: 0; 
  }
  
  
  .view-media-btn {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #f7f7f7; 
  color: #333; 
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin: 0 15%;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Optional: add transition for background color */
  }
  
  .arrow {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(255, 20, 78);
  border-radius: 50%;
  margin: 0 5px;
  height: 15px;
  width: 15px; 
  justify-content: center; 
  transition: transform 0.3s; 
  }
  
  .arrow:hover {
  transform: rotate(360deg); 
  }
  
  .photo-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  margin: 10px; 
  }
  
  .photo-card:hover img {
  transform: scale(1.05); 
  }
  
  .photo-card img {
  transition: transform 0.3s ease;
  }
  
  
  /* Styles for the selected media card */
  .selected-photo {
  width: 100%;
  padding: 20px;
  background-color:#f7f7f7;
  margin-bottom: 80px;
  }
  
  .selected-photo h3 {
  font-size: 32px;
  margin-bottom: 10px;
  }
  
  .selected-photo p {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  .selected-photo img {
  width: 200px;
  height: auto;
  margin-top: 20px;
  }
  
  .photo-grid {
  margin-top: 20px;
  }
  
  .load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color:#f7f7f7; 
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .load-more:hover {
  background-color: #022549;
  color: white;
  }
  
  @media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr; 
    gap: 20px; 
  }
  
  .photo-card {
    width: 80%;
    padding: 20px 40px;
  }
  
  .photo-card:hover {
    width: 72%;
  }
  
  .photo-card img {
    height: auto; 
  }
  
  .photo-gallery {
    padding: 20px;
  }
  
  .photo-gallery h2 {
    font-size: 24px; 
  }
  .selected-photo {
    padding: 0;
  }
  }
  
  



/* video gallery styles */
.video-gallery {
  padding: 50px;
  background-color: #f7f7f7;
}

.video-gallery h2 {
  font-size: 28px;
  color: #333;
  text-align: left;
  margin-bottom: 40px;
  font-weight: bold;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  justify-content: center;
  align-items: start;
}

.video-card {
  background-color: #f7f7f7;
  box-shadow: none; 
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.3s ease;
  position: relative;
  height: fit-content; 
  margin: 0; 
  width: 90%;
  padding: 20px;
  z-index: 1;
  font-size: 14px;
  text-align: center;
}

.video-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: calc(90% + 10px);
  z-index: 10;
}

.video-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.video-card h3 {
  font-size: 18px; 
  color: #333;
  padding: 10px 15px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin: 0;
}

.video-card p {
  font-size: 16px;
  color: #777;
  padding: 0 15px 5px;
  margin: 0; 
}

.view-video-btn {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #f7f7f7; 
  color: #333; 
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin: 0 15%;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}



.video-card:hover img {
  transform: scale(1.05); 
}


/* Styles for the selected video card */
.selected-video {
  width: 100%;
  padding: 20px;
  background-color: #f7f7f7;
  margin-bottom: 80px;
}

.selected-video h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.selected-video p {
  font-size: 16px;
  margin-bottom: 10px;
}

.selected-media video {
  width: 500px;
  height: auto;
  margin-top: 20px;
}

.video-grid {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr; 
    gap: 20px; 
  }

  .video-card {
    width: 80%;
    padding: 20px 40px;
    }

    .video-card:hover {
      width: 72%;
  }

  .video-card img {
    height: auto; 
  }

  .video-gallery h2 {
    font-size: 24px; 
  }
  .selected-media {
    padding: 0;
  }
}

.about-section {
  position: relative;
  background-image: url('/src/images/slider_1.webp');
  background-size: cover;
  background-position: center;
  padding: 50px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
  opacity: 0.8; 
}


.about-section h1 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

.breadcrumb {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumb a {
  color: white;
  text-decoration: none;
}

.breadcrumb a:hover {
 font-weight: bold;
}

.breadcrumb span {
  color: white;
}

/* Curiicular and socio-Culture Styles */ 
.CoApp, .SocioApp{
  display: flex;
  min-height: 100vh;
}


.Co-content h1,.Co-content h2, .Co-content h3,.Co-content h4,.Co-content h5{
  margin: 30px 0;
}
.Socio-content h1,.Socio-content h2, .Socio-content h3,.Socio-content h4,.Socio-content h5{
  margin: 30px 0;
}


.sidebar {
  width: 400px;
  height: fit-content;
  background-color: #fff;
  padding-left: 5%;
  padding-right: 2%;
  position:absolute;
  margin-top: 5%;

}


.sidebar.sticky {
  position: absolute;
  bottom: 20; 
  top: auto;
}

.tab {
  padding: 15px 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: left;
}

.tab.active {
  background-color: #ddd;
  font-weight: bold;
  border-left: 4px solid #007bff;
}

.tab:hover {
  background-color: #ddd;
}

/* Main Content */
.Co-content, .Socio-content {
  margin-left: 400px;
  width: calc(100% - 400px);
  padding: 40px;
  background-color: #fff;
}

.Co-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #000000;
  border-bottom: 2px solid #ddd; 
  padding-bottom: 10px;
}

.Co-content  p {
  line-height: 1.75;
  font-size: 1rem;
  margin-bottom: 25px;
  color: #000000;
}

.Socio-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #000000;
  border-bottom: 2px solid #ddd; 
  padding-bottom: 10px;
}

.Socio-content  p {
  line-height: 1.75;
  font-size: 1rem;
  margin-bottom: 25px;
  color: #000000;
  font-weight: lighter;
}

/* Sub Tabs */
.sub-tabs {
  display: flex;
  border-bottom: 1px solid #ddd; 
}

.sub-tab {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  background-color: white;
  transition: border-bottom-color 0.3s ease;
  border-bottom: 2px solid transparent; 
}

.sub-tab.active {
  font-weight: bold;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: none; 
}

.sub-tab:hover {
  border: 1px solid #ddd;
  border-bottom: none;
}

.sub-content {
  padding: 0 20px 20px 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.sub-content h3 {
  padding: 20px 0;
  

}

.sub-content h4{
  border-bottom: 2px solid #ddd;
  font-size: 1.25rem
}

.sub-content img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
}

.sub-content p {
  font-size: 1rem;
  line-height: 1.5;
}

.teacher-card {
  display: inline-block;
  margin: 20px;
  
}

.teacher-card h4{
  width: 200px;
  height: fit-content;
  border-bottom: none;
}

.teacher-photo {
  width: 200px;
  height: 200px;
  box-shadow: 7px 7px 12px #7b6969c4;
}

.teacher-details {
  display: flex;
  flex-wrap: wrap;
  
}

.slick-prev, .slick-next {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.slick-prev:before, .slick-next:before {
  font-size: 50px;
  color: #000000;
}

.slick-list {
  margin: 0; 
  overflow: hidden; 
}

.slick-slide {
  padding: 10px 20px;
}

.slick-dots {
  display: none; 
}

.slick-track {
  display: flex;
  align-items: center;
}

h5{
  font-size: 1.5rem;
    margin: 20px 0;
}

.underline{
  text-decoration: underline;
}

.lg{
  display: flex;
  flex-direction: row-reverse;
}

.lg img{
  width: fit-content;
  height: auto;
}

.logo2{
  width:80%;
}
.logo{
  width:20%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.table th {
  background-color: white;
  font-weight: bold;
}

.table tr:hover {
  background-color: #f5f5f5;
}

.table td:first-child {
  width: 25%;
}

.table td:nth-child(2) {
  width: 50%;
}

.table td:last-child {
  width: 25%;
}

.set{
  display: flex;
}

.set img{
  width: 40%;
  height: auto;
  margin: 20px;
}




.form-container {
  max-width: 800px;
  border: solid;
  margin: 20px 0;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#form h2{
  border: none;
  margin-top: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  color: #fff;
  background-color: #202C45;
    border-color: #202C45;
    border-radius: 3rem;
    border-width: 2px;
    letter-spacing: .05rem;
    padding: 0.8rem 2.5rem;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: static;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .sub-tabs {
    flex-wrap: wrap;
  }
}